div {
   height: 90vh;
   display: flex;
   justify-content: center;
   align-items: center;

   p {
      font-size: large;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      margin-left: 1rem;
   }

   input {
      display:flex;
      background-color: #eee;
      border-radius: 25px;
      border:5px solid #eee;
      appearance: none;
      cursor: pointer;
      position: relative;
      padding: 1em 2em;
      height: 50px;
      width: 6%;
      justify-content: space-between;
      align-items: center;
   }

   input::after {
      content: "";
      position: absolute;
      left: -2px;
      width: 50%;
      height: 100%;
      border-radius: 45px;
      background: #fff;
      border: 1px solid #eee;
      transition: all .2s linear;
   }

   input:checked {
      background: #007BFF;
      border-color: #007BFF;
   }

   input:checked::after {
      transition: all .2s linear;
      border-color: #007BFF;
      left: 50%;
   }
}